.main {
  width: 60%;
  margin: auto;
}

@media only screen and (max-width:1200px) {
  .main {
    width: 80%;
  }
}

@media only screen and (max-width:800px) {
  .main {
    width: 100%;
  }
}

.config {
  border-top: 2px solid lightgray;
  background-color: whitesmoke;
}

.example {
  line-height: 1em;
  border-left: 2px solid lightgray;
}

.example pre {
  white-space: pre-line;
  padding: .5em;
}
